<div class="container" id="status">

  <table class="table" id="tbStatus">
    <thead>
      <th>Descrição</th>
      <th>Editar</th>
      <th>Excluir</th>
    </thead>
    <tbody>
      <tr *ngFor="let sta of status" id="linha">
        <td id="tbDescricao">{{sta.descricao}}</td>
        <td class="sizeOp">
          <a class="btn-flat btnLink" [routerLink]="['/status', sta._id]">
            <i class="material-icons btnOp">edit</i>
          </a>
        </td>
        <td class="sizeOp">
          <a class="btn-flat btnLink" (click)="excluir(sta._id)">
            <i class="material-icons btnOp">close</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

