<div class="container" style="margin-top: 80px;">
  <form #tarefasForm="ngForm" (ngSubmit)="enviar()">

    <div class="row">
      <div class="form-group col-sm-2">
        <label for="chamado" class="lblCadastro">Num. Chamado</label>
        <input id="chamado" name="chamado" type="text" class="form-control" [(ngModel)]="model.chamado" />
      </div>

      <div class="form-group col-sm-3">
        <label for="data_tarefa" class="lblCadastro">Data da tarefa</label>
        <input id="data_tarefa" name="data" type="text" class="form-control data" [(ngModel)]="model.data">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4">
        <label for="solicitante" class="lblCadastro">Solicitante</label>
        <input id="solicitante" type="text" name="solicitante" class="form-control" [(ngModel)]="model.solicitante">
      </div>

      <div class="form-group col-sm-4">
        <label for="projeto" class="lblCadastro">Projeto</label>
        <input id="projeto" type="text" name="projeto" class="form-control" [(ngModel)]="model.projeto">
      </div>
    </div>


    <div class="form-group">
      <label for="descricao" class="lblCadastro">Descrição</label>
      <input id="descricao" type="text" name="descricao" class="form-control" [(ngModel)]="model.descricao">
    </div>


    <div class="form-group col-sm-4">
      <label for="status" class="lblCadastro">Status</label>
      <select id="status" name="status" class="form-control" [(ngModel)]="model.status">
        <option disabled>(Selecione)</option>
        <option *ngFor="let sta of status | async" [ngValue]="sta._id">{{sta.descricao}}</option>
      </select>
    </div>

    <div class="row">
      <div class="form-group col-sm-2">
        <label for="tempo" class="lblCadastro">Estimativa de Tempo (Horas)</label>
        <input id="tempo" type="text" name="tempo" class="form-control" [(ngModel)]="model.tempo">
      </div>
    </div>


    <div class="row">
      <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Enviar" />
      </div>
    </div>

  </form>
</div>