<div class="container-form">

  <form #tarefasForm="ngForm" (ngSubmit)="enviar()">

    <label class="lblTitulo">Tarefas</label>

    <div class="row">
      <div class="form-group div-chamado form-space-right">
        <label for="chamado" class="lblCadastro">Número do Chamado:</label>
        <input id="chamado" name="chamado" type="text" class="form-control inputCadastro" [(ngModel)]="model.chamado" />
      </div>

      <div class="form-group div-dtTarefa">
        <label for="data_tarefa" class="lblCadastro">Data da tarefa:</label>
        <input id="data_tarefa" name="data" type="date" class="form-control font-size-date" [(ngModel)]="model.data">
      </div>
    </div>

    <div class="row">
      <div class="form-group size">
        <label for="descricao" class="lblCadastro">Descrição:</label>
        <input id="descricao" type="text" name="descricao" class="form-control inputCadastro" [(ngModel)]="model.descricao">
      </div>
    </div> 

    <div class="row">
      <div class="form-group div-projeto form-space-right">
        <label for="projetos" class="lblCadastro">Projetos:</label>
        <select id="projetos" name="projetos" class="form-control projetos" [(ngModel)]="model.projeto">
          <option *ngFor="let pro of projetos | async" [ngValue]="pro._id">{{pro.nomeProjeto}}</option>
        </select>
      </div>

      <div class="form-group size50">
        <label for="solicitante" class="lblCadastro">Solicitante:</label>
        <input id="solicitante" type="text" name="solicitante" class="form-control inputCadastro" [(ngModel)]="model.solicitante">
      </div>
    </div>

    <div class="row">
      <div class="form-group div-chamado form-space-right">
        <label for="tempo" class="lblCadastro">Qtde. Horas:</label>
        <input id="tempo" type="text" name="tempo" class="form-control inputCadastro" [(ngModel)]="model.tempo">
      </div>

      <div class="form-group div-dtTarefa">
        <label for="status" class="lblCadastro">Status:</label>
        <select id="status" name="status" class="form-control inputCadastro projetos" [(ngModel)]="model.status">
          <option *ngFor="let sta of status | async" [ngValue]="sta._id">{{sta.nomeStatus}}</option>
        </select>
      </div>
    </div>

    <!-- <div class="row">
      <div class="text-center">
        <input type="submit" id="gravar" class="btn btn-link btnCadastro" value="Gravar" />
      </div>
      <div class="text-center">
        <a href="/tarefas" class="btn btn-link btnCadastro">Consultar</a>
      </div>
      <div id="sucess" style="display: none">
        <div class="msgSucess">Registro gravado com sucesso!</div>
      </div>
      <div id="fail" style="display: none">
        <div class="msgFail">Ocorreu um erro, tente novamente!</div>
      </div>
    </div> -->

    <div class="row" id="btnTarefa">
        <div class="text-center">
          <input type="submit" id="gravar" class="btn btn-link btnCadastro" value="Gravar" />
        </div>
        <div class="text-center">
          <a href="/tarefas" class="btn btn-link btnCadastro">Listar</a>
        </div>
      </div>
  
      <div class="row center" >
          <div id="sucess" style="display: none">
              <div class="msgSucess">Registro gravado com sucesso!</div>
            </div>
            <div id="fail" style="display: none">
              <div class="msgFail">Ocorreu um erro, tente novamente!</div>
            </div>
      </div>

  </form>
</div>