select {
    border: 1px solid #fff;
    border-bottom: 1px solid #bdbdbd;
    height: 41px !important;
}

.lblCadastro {
    font-size: 16px;
}

.inputCadastro {
    font-size: 18px;
    color: black;
}

.center {
    text-align: center;
}

.btnCadastro {
    font-size: 16px;
    padding: 10px 39px;
    text-decoration: none;
    color: rgb(143, 141, 141) !important; ;
    border: 1px solid #bdbdbd;
    border-radius: 5px;  
}

.btnCadastro:hover {
    color: #1dbec3 !important;
    border: 1px solid #1dbec3;
}

#titulo {
    font-size: 30px;    
    margin-bottom: 20px;
    color: #d0cfcf;    
}

