body {
    font-family: 'Varela Round', sans-serif !important;
}

input {
    font-size: 18px;
}

#titulo {
    font-size: 30px;    
    margin-bottom: 20px;
    color: #d0cfcf;    
}

#btnProjeto {
    margin-top: 15px;
    margin-left: 0px;
}

#quantidadeHoras {
    width: 125px;
}

.container-form {
    width: 90%;
    max-width: 700px;
    padding: 20px;
    margin: 80px auto;
    background: #fff;
    -webkit-box-shadow: 0px 0px 3px grey;
    box-shadow: 0px 0px 3px grey;
}

.lblCadastro {
    font-size: 12px;
    font-weight: normal;
    color: #6d7275;
}

.lblTitulo {
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #eae9e9;
    line-height: 4rem;
    color: #2f3e46;
    font-weight: normal;
}

.btnCadastro {
    font-size: 13px;
    padding: 5px 30px;
    text-decoration: none;
    color: rgb(143, 141, 141) !important;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-transform: capitalize;
    margin: 0 5px 0 0;
    width: 125px;
}

.btnCadastro:hover {
    color: #0b1718 !important;
    border: 1px solid #1dbec3;
}

.msgSucess {    
    font-size: 15px;
    color: #1dbec3;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
}

.msgFail {    
    font-size: 15px;
    color: #940d1f;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
}

.form-projeto {
    width: 100%;
}

.form-datas {
    width: 49%;
}

.form-horas {
    width: 25%;
}

.form-space-right {
    margin-right: 10px;
}

.row {
    margin: 15px 0;
}

.form_group {
    border-bottom: 1px solid #bdbdbd;
}

.font-size-date {
    font-size: 14px;
    color: #222537;
}

.center {
    text-align: center;
}





			