<div class="container-form">
  <form #projetosForm="ngForm" (ngSubmit)="enviar()">

    <label class="lblTitulo">Projetos</label>

    <div class="row">
      <div class="form-group form-projeto">
        <label for="descricao" class="lblCadastro">Nome do Projeto:</label>
        <input id="descricao" name="descricao" type="text" class="validate" [(ngModel)]="model.nomeProjeto">
      </div>
    </div>

    <div class="row">
      <div class="form-group form-datas form-space-right">
        <label for="data_solicitacao" class="lblCadastro">Data da Solicitação:</label>
        <input id="data_solicitacao" name="data_solicitacao" type="date" class="form-control inputCadastro font-size-date" [(ngModel)]="model.dataSolicitacao">
      </div>

      <div class="form-group form-datas">
        <label for="data_conclusao" class="lblCadastro">Data da Conclusão:</label>
        <input id="data_conclusao" name="data_conclusao" type="date" class="form-control inputCadastro font-size-date" [(ngModel)]="model.dataConclusao">
      </div>
    </div>

    <div class="row">
      <div class="form-group form-horas">
        <label for="quantidadeHoras" class="lblCadastro ">Quantidade de Horas:</label>
        <input id="quantidadeHoras" name="quantidadeHoras" type="text" class="validate font-size-date" [(ngModel)]="model.quantidadeHoras">
      </div>
    </div>

    <div class="row" id="btnProjeto">
      <div class="text-center">
        <input type="submit" id="gravar" class="btn btn-link btnCadastro" value="Gravar" />
      </div>
      <div class="text-center">
        <a href="/projetos" class="btn btn-link btnCadastro">Consultar</a>
      </div>
    </div>

    <div class="row center" >
        <div id="sucess" style="display: none">
            <div class="msgSucess">Registro gravado com sucesso!</div>
          </div>
          <div id="fail" style="display: none">
            <div class="msgFail">Ocorreu um erro, tente novamente!</div>
          </div>
    </div>

  </form>
</div>
