#projetos {
    margin-top: 25px;
}

#tbProjetos {
    line-height: 2.5;
    width: 100%;
}

#tbDescricao {
    width: 300px;
}

.btnOp {
    font-size: 22px !important;
    color: #9e9e9e;      
}

.btnLink {
    padding: 0 15px !important;
    vertical-align: text-top;
}

.btnOp:hover {
    color: #34c3c8;
}

table , tr {
    font-family: 'Source', sans-serif;
    border-collapse: separate;    
}

table , th {
    font-size: 14px;
    color: #25c5b6;        
}

table , td {
    font-size: 14px;
    color: #757575;
    font-family: 'Varela Round', sans-serif; 
}

.table > tbody > tr > td {
    padding: 8px;
}

table thead th {
    border: 0;
}

thead {    
    font-family: 'Varela Round', sans-serif;
}

.container-form {
    width: 90%;
    max-width: 900px;
    padding: 20px;
    margin: 30px auto;
    background: #fff;    
}

.center {
    text-align: center;
}