<div class="container" id="tarefas">
      
  <table class="table">
    <thead>
      <th>Chamado</th>
      <th>Data da Tarefa</th>
      <th>Solicitante</th>
      <th>Projeto</th>
      <th>Status</th> 
      <th>Descrição</th>
      <th>Horas</th>  
      <th>Editar</th>   
      <th>Excluir</th>   
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas" id="linha">
          <td>
            <div id="numChamado">
                {{tarefa.chamado}}
            </div>
          </td>
          <td>{{tarefa.data | date: 'dd/MM/yyyy'}}</td>
          <td>{{tarefa.solicitante}}</td>
          <td>{{tarefa.projeto}}</td>
          <td>{{tarefa.status._id}}</td>
          <td>{{tarefa.descricao}}</td>
          <td class="tempo">{{tarefa.tempo}}</td>            
          <td class="sizeOp">
            <a class="btn-flat btnLink" [routerLink]="['/tarefas', tarefa._id]">        
              <i class="material-icons btnOp">edit</i>
            </a>
          </td>                            
          <td class="sizeOp">
            <a class="btn-flat btnLink" (click)="excluir(tarefa._id)">
              <i class="material-icons btnOp">close</i>
            </a>
          </td>       
      </tr>
    </tbody>  
  </table>
</div>

<script>
    $(document).ready(function() {	
      $(".tempo").mask("99:00");            
    }); 
</script>
