<div class="container">
      
  <table class="responsive-table">
    <thead>
      <th>Chamado</th>
      <th>Data da Tarefa</th>
      <th>Solicitante</th>
      <th>Projeto</th>
      <th>Descrição</th>
      <th>Status</th>   
      <th>Tempo</th>   
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas" id="linha">
          <div class="center">
              <a href="#!">
                  <b><td>{{tarefa.chamado}}</td></b>
              </a>          
          </div>          
          <td>{{tarefa.data | date: 'dd/MM/yyyy'}}</td>
          <td>{{tarefa.solicitante}}</td>
          <td>{{tarefa.projeto}}</td>
          <td>{{tarefa.descricao}}</td>
          <td>{{tarefa.status}}</td>          
          <td>{{tarefa.tempo}}</td>          
      </tr>
    </tbody>  
  </table>
</div>
