<nav class="nav">

  <div id="divNavbar">

    <div class="dropdown">
      <i class="material-icons dropbtn">&#xE5C3;</i>

      <div class="dropdown-content">

        <div id="div-user">
          <label id="name-user">Juliano Pinheiro</label>
        </div>

        <div id="div-card-apps">

          <div class="div-apps">
            <a routerLink="/projetos/novo" class="lnkOpcoes">
              <img src="assets/img/projeto.png" class="img-icons">
              <label class="label-icons">Projetos</label>
            </a>
          </div>

          <div class="div-apps">
            <a routerLink="/tarefas/novo" class="lnkOpcoes">
              <i class="material-icons iconSpace">&#xE862;</i>
              <label>Tarefas</label>
            </a>
          </div>

          <!-- <div class="div-apps">
            <a routerLink="/usuarios/novo" class="lnkOpcoes">
              <i class="material-icons iconSpace">&#xE7FD;</i>
              <label>Novo Usuario</label>
            </a>
          </div> -->

          <div class="div-apps">
            <a routerLink="/status/novo" class="lnkOpcoes">
              <i class="material-icons iconSpace">&#xE862;</i>
              <label>Status</label>
            </a>
          </div>

          <div id="div-config-out">
              <div class="div-logout">
                  <a routerLink="/#">
                    <img src="assets/img/config.png" class="spaceRight">
                    <label>Configurações</label>
                  </a>
              </div>
              <div class="div-logout border-left">
                  <a routerLink="/home">
                    <img src="assets/img/log-out.png" class="spaceRight">
                    <label>Sair</label>
                  </a>
              </div>
          </div>


        </div>
      </div>
    </div>

    <div id="divLogo">
        <a routerLink="/home">
          <img src="assets/img/logo.png" id="logo">
        </a>
    </div>


  </div>
</nav>

<router-outlet></router-outlet>

<script>
  $(document).ready(function () {
    $("window").click(function (event) {
      var link = $(this);
      if (link.attr("id").match("esconder"))
        $("#MeuDiv").hide("slow");
      else
        $("#MeuDiv").show("slow");
      event.preventDefault();
    });
  })

</script>