<nav class="nav">
  <div>
    <a id="exibir" href="#">
      <img id="menuBurger" src="assets/img/menu.png">
    </a>
  </div>
  <div class="col-md-10">
    <a href="/home">
      <img id="logo" src="assets/img/logoTimesheet.png">
    </a>    
  </div>
</nav>

<div id="MeuDiv">
  <a id="esconder" href="#" style="float: right">
    <img src="assets/img/close.png" style="width: 15px; margin: 5px;">
  </a>
  <!-- Menu -->
  <ul class="list-group">    
    <li class="list-group-item"><a href="/home" class="lnkOpcoes"><i class="material-icons iconSpace">&#xE88A;</i>Home</a></li>
    <li class="list-group-item"><a href="/tarefas" class="lnkOpcoes"><i class="material-icons iconSpace">&#xE862;</i>Tarefas</a></li>
    <li class="list-group-item"><a href="#!" class="lnkOpcoes"><i class="material-icons iconSpace">&#xE85D;</i>Projetos</a></li>
    <li class="list-group-item"><a href="/status" class="lnkOpcoes"><i class="material-icons iconSpace">&#xE86C;</i>Status</a></li>
    <li class="list-group-item"><a href="#!" class="lnkOpcoes"><i class="material-icons iconSpace">&#xE8B8;</i>Configurações</a></li>
  </ul>
</div>

<div class="">
    <ul class="menu">      
          <li>
            <a id="cadastro" href="#"><i class="material-icons iconSpace">navigate_next</i>Cadastro</a>
               <ul style="width: 1280px; top: 0; left: 118px;">
                      <li>
                          <a routerLink="/tarefas/novo" class="lnkOpcoes">
                            <i class="material-icons iconSpace">&#xE862;</i>Nova Tarefa
                          </a>
                      </li>
                      <li>
                          <a href="#" class="lnkOpcoes">
                             <i class="material-icons iconSpace">&#xE85D;</i>Novo Projeto
                          </a>
                      </li>
                      <li>
                          <a routerLink="/status/novo" class="lnkOpcoes">
                              <i class="material-icons iconSpace">&#xE862;</i>Novo Status
                            </a>  
                      </li>                    
               </ul>
        </li>            
  </ul>
</div>

<router-outlet></router-outlet>

<script>
  $(document).ready(function () {
    $("a").click(function (event) {
      var link = $(this);
      if (link.attr("id").match("esconder"))
        $("#MeuDiv").hide("slow");
      else
        $("#MeuDiv").show("slow");
      event.preventDefault();
    });
  })  

  $(document).ready(function() {	
    $(".tempo").mask("999:00");            
  }); 

</script>