nav {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 0px !important;
}

nav #nav-image {
    width: 190px;
    vertical-align: sub;
    margin-left: 15px;
}

#btnMenu {
    color: #34c3c8;
    margin-left: 15px;
}

#backMenu {
    background: url(/assets/img/background.jpg) no-repeat center;
    background-size: cover;
}

#divExit {    
    position: relative;
    right: 20px;
}

#btnExit {
    color: #767676;
}

#btnExit:hover {
    color: #34c3c8;
}

#logo {
    width: 30%;
}

