nav {
    background-color: #fafafa;
    height: 60px;
}

#MeuDiv {
    position: fixed;
    z-index: 1;
    background-color: #fafafa;
    width:315px; 
    height: 275px;
    display: none;
}

#logo {
    margin-top: 13px;    
    width: 185px;
}

#menuBurger {
    margin-top: 20px;
    margin-left: 15px;
    width: 20px;
}

#closeMenu {
    height: 20px;
}

#cadastro {
    font-size: 16px;    
    color: #a7a7a7;
    padding: 20px 20px 50px 0;
    font-family: 'Varela Round', sans-serif;
    left: 160px;
    position: relative;
}

ul {
    list-style-type: none;
    width: 100%;
}

.menu li {
    position:relative; 
    float:left;     
}

.menu li  ul{
    position:absolute; 
    top: 50px; 
    left:0;
    background-color:#fff; 
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.iconSpace {
    padding-right: 10px;
    top: 5px;
    position: relative;
}

.linkCadastro {
    padding: 20px 0 20px 0;
    font-size: 28px;    
}

.lnkOpcoes {
    color: #b7b6b6;
    padding: 0 20px 20px 0;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.lnkOpcoes:hover {
    color: #2dc3c8;
}



